<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <app-text-input [formControl]="$any(registerForm.controls['userName'])" [label]="'Username'"
        [type]="'text'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"
        [type]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'"
        [type]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known As'"></app-text-input>
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [maxDate]="maxDate"
        [label]="'Date Of Birth'"></app-date-picker>
    <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input>
    <div class="mb-3">
        <label for="">I am a:</label>
        <label for="" class="form-check-label ms-3">
            <input type="radio" class="form-check-input" formControlName="gender" value="male"> Male
        </label>
        <label for="" class="form-check-label ms-3">
            <input type="radio" class="form-check-input" formControlName="gender" value="female"> Female
        </label>
        <label for="" class="form-check-label ms-3">
            <input type="radio" class="form-check-input" formControlName="gender" value="other"> Other
        </label>
    </div>
    <div class="row" *ngIf="validations">
        <ul class="text-danger">
            <li *ngFor="let error of validations">{{error}}</li>
        </ul>
    </div>
    <div class="text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>